WCFClients/Service References/WcfServiceReference/metadata.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.cnblogs.com/startcaft/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cnblogs.com/startcaft/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.cnblogs.com/startcaft/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:9999/WcfServices/metadata?xsd=xsd0" namespace="http://www.cnblogs.com/startcaft/" />
      <xsd:import schemaLocation="http://127.0.0.1:9999/WcfServices/metadata?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:9999/WcfServices/metadata?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFService_SayHello_InputMessage">
    <wsdl:part name="parameters" element="tns:SayHello" />
  </wsdl:message>
  <wsdl:message name="IWCFService_SayHello_OutputMessage">
    <wsdl:part name="parameters" element="tns:SayHelloResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_SayHelloToUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SayHelloToUser" />
  </wsdl:message>
  <wsdl:message name="IWCFService_SayHelloToUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:SayHelloToUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFService">
    <wsdl:operation name="SayHello">
      <wsdl:input wsaw:Action="http://www.cnblogs.com/startcaft/IWCFService/SayHello" message="tns:IWCFService_SayHello_InputMessage" />
      <wsdl:output wsaw:Action="http://www.cnblogs.com/startcaft/IWCFService/SayHelloResponse" message="tns:IWCFService_SayHello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SayHelloToUser">
      <wsdl:input wsaw:Action="http://www.cnblogs.com/startcaft/IWCFService/SayHelloToUser" message="tns:IWCFService_SayHelloToUser_InputMessage" />
      <wsdl:output wsaw:Action="http://www.cnblogs.com/startcaft/IWCFService/SayHelloToUserResponse" message="tns:IWCFService_SayHelloToUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>