Wcf.UseDataTable_DataSet_Collection.Client/Service References/ServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wcf.UseDataTable_DataSet_Collection.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wcf.UseDataTable_DataSet_Collection.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFunc">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Func" nillable="true" type="tns:Func" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFunc" nillable="true" type="tns:ArrayOfFunc" />
  <xs:complexType name="Func">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Func" nillable="true" type="tns:Func" />
</xs:schema>