Wcf.UseDataTable_DataSet_Collection.Client/Service References/ServiceReference/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.cnblogs.com/startcaft" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cnblogs.com/startcaft" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.cnblogs.com/startcaft/Imports">
      <xsd:import schemaLocation="http://localhost:9003/?xsd=xsd0" namespace="http://www.cnblogs.com/startcaft" />
      <xsd:import schemaLocation="http://localhost:9003/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9003/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:9003/?xsd=xsd3" />
      <xsd:import schemaLocation="http://localhost:9003/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wcf.UseDataTable_DataSet_Collection.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFService_GetDataByTable_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataByTable" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetDataByTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataByTableResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetDataByDataSet_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataByDataSet" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetDataByDataSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataByDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetDataByCollection_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataByCollection" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetDataByCollection_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataByCollectionResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFService">
    <wsdl:operation name="GetDataByTable">
      <wsdl:input wsaw:Action="http://www.cnblogs.com/startcaft/IWCFService/GetDataByTable" message="tns:IWCFService_GetDataByTable_InputMessage" />
      <wsdl:output wsaw:Action="http://www.cnblogs.com/startcaft/IWCFService/GetDataByTableResponse" message="tns:IWCFService_GetDataByTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataByDataSet">
      <wsdl:input wsaw:Action="http://www.cnblogs.com/startcaft/IWCFService/GetDataByDataSet" message="tns:IWCFService_GetDataByDataSet_InputMessage" />
      <wsdl:output wsaw:Action="http://www.cnblogs.com/startcaft/IWCFService/GetDataByDataSetResponse" message="tns:IWCFService_GetDataByDataSet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataByCollection">
      <wsdl:input wsaw:Action="http://www.cnblogs.com/startcaft/IWCFService/GetDataByCollection" message="tns:IWCFService_GetDataByCollection_InputMessage" />
      <wsdl:output wsaw:Action="http://www.cnblogs.com/startcaft/IWCFService/GetDataByCollectionResponse" message="tns:IWCFService_GetDataByCollection_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>