Wcf.Streaming.Client/Service References/ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.cnblogs.com/startcaft/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cnblogs.com/startcaft/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.cnblogs.com/startcaft/Imports">
      <xsd:import namespace="http://www.cnblogs.com/startcaft/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.IO" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFService_DownLoadStreamData_InputMessage">
    <wsdl:part name="parameters" element="tns:DownLoadStreamData" />
  </wsdl:message>
  <wsdl:message name="IWCFService_DownLoadStreamData_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownLoadStreamDataResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_DownLoadStreamDataOut_InputMessage">
    <wsdl:part name="parameters" element="tns:DownLoadStreamDataOut" />
  </wsdl:message>
  <wsdl:message name="IWCFService_DownLoadStreamDataOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownLoadStreamDataOutResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_UpLoadStreamData_InputMessage">
    <wsdl:part name="parameters" element="tns:UpLoadStreamData" />
  </wsdl:message>
  <wsdl:portType name="IWCFService">
    <wsdl:operation name="DownLoadStreamData">
      <wsdl:input wsaw:Action="http://www.cnblogs.com/startcaft/IWCFService/DownLoadStreamData" message="tns:IWCFService_DownLoadStreamData_InputMessage" />
      <wsdl:output wsaw:Action="http://www.cnblogs.com/startcaft/IWCFService/DownLoadStreamDataResponse" message="tns:IWCFService_DownLoadStreamData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownLoadStreamDataOut">
      <wsdl:input wsaw:Action="http://www.cnblogs.com/startcaft/IWCFService/DownLoadStreamDataOut" message="tns:IWCFService_DownLoadStreamDataOut_InputMessage" />
      <wsdl:output wsaw:Action="http://www.cnblogs.com/startcaft/IWCFService/DownLoadStreamDataOutResponse" message="tns:IWCFService_DownLoadStreamDataOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpLoadStreamData">
      <wsdl:input wsaw:Action="http://www.cnblogs.com/startcaft/IWCFService/UpLoadStreamData" message="tns:IWCFService_UpLoadStreamData_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>