Wcf.Transaction.Client/Service References/ServiceReference/WCFServiceTransaction11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.cnblogs.com/frank_xl/" elementFormDefault="qualified" targetNamespace="http://www.cnblogs.com/frank_xl/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AddDataUsingAdapter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDataUsingAdapterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDataUsingAdapterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>