WcfMessageMode_Client/Service References/WCFServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:8023/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1:8023/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetRequestAndResponseModeMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestAndResponseModeMessage" />
  </wsdl:message>
  <wsdl:message name="IService_GetRequestAndResponseModeMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestAndResponseModeMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetSingleModeMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleModeMessage" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetRequestAndResponseModeMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetRequestAndResponseModeMessage" message="tns:IService_GetRequestAndResponseModeMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetRequestAndResponseModeMessageResponse" message="tns:IService_GetRequestAndResponseModeMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSingleModeMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSingleModeMessage" message="tns:IService_GetSingleModeMessage_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRequestAndResponseModeMessage">
      <soap:operation soapAction="http://tempuri.org/IService/GetRequestAndResponseModeMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingleModeMessage">
      <soap:operation soapAction="http://tempuri.org/IService/GetSingleModeMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://127.0.0.1:8023/Service" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>