Wcf.DataSerialization.Client/Service References/ServiceReference/startcaft.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.cnblogs.com/startcaft" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cnblogs.com/startcaft" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.cnblogs.com/startcaft/Imports">
      <xsd:import schemaLocation="" namespace="http://www.cnblogs.com/startcaft" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/Wcf.DataSerialization.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFService_AddNewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewUser" />
  </wsdl:message>
  <wsdl:message name="IWCFService_AddNewUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetUserByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByName" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetUserByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFService">
    <wsdl:operation name="AddNewUser">
      <wsdl:input wsaw:Action="http://www.cnblogs.com/startcaft/IWCFService/AddNewUser" message="tns:IWCFService_AddNewUser_InputMessage" />
      <wsdl:output wsaw:Action="http://www.cnblogs.com/startcaft/IWCFService/AddNewUserResponse" message="tns:IWCFService_AddNewUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByName">
      <wsdl:input wsaw:Action="http://www.cnblogs.com/startcaft/IWCFService/GetUserByName" message="tns:IWCFService_GetUserByName_InputMessage" />
      <wsdl:output wsaw:Action="http://www.cnblogs.com/startcaft/IWCFService/GetUserByNameResponse" message="tns:IWCFService_GetUserByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>