Wcf.DataSerialization.Client/Service References/ServiceReference/startcaft.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.cnblogs.com/startcaft" elementFormDefault="qualified" targetNamespace="http://www.cnblogs.com/startcaft" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/Wcf.DataSerialization.Service" />
  <xs:element name="AddNewUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wcf.DataSerialization.Service" minOccurs="0" name="user" nillable="true" type="q1:UserDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wcf.DataSerialization.Service" minOccurs="0" name="GetUserByNameResult" nillable="true" type="q2:UserDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>