Wcf.DataSerialization.Client/Service References/ServiceReference/Wcf.DataSerialization.Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wcf.DataSerialization.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wcf.DataSerialization.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDataContract" nillable="true" type="tns:UserDataContract" />
</xs:schema>